/*FUENTE*/

@font-face {
    font-family: Needlework Perfect;
    src: url(Needlework-Perfect.otf);
}



/*HEADER*/

header{
    background-color: black;
    display: inline-block;
    width: 100%;
}

nav{
    color:white;
}

/*LOGO*/

.logo{
    width:433px;
    height:105px;
    float: left;
}

.logo > p{
    color:#FFFFFF;
    display:inline-block;
    font-size: 32px;
    width: 198.24px;
    font-family: Needlework Perfect;
}

.logo > img{
    width: 79.5px;
    height: 77px;
}

/*CATEGORIAS*/

ul{
    display: inline-block;
    text-align: center;
}

li{
    display:inline;
    vertical-align: center;
    line-height: 105px;
    padding: 40px;
}

li > a{
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/*PORTADA*/

.portada{
    text-align: center;
    font-family: Needlework Perfect;
}

.portada__pedir{
    background-color: black;
    color: white;
}

h1{
    color:black;
    font-size: 72px;
}

/*BODY*/

body{
    background-color:#630000;
    margin: 0px;
    padding: 0px;
}


/*CAJAS DE TEXTO*/

h3{
    font-family: Needlework Perfect;
    color: black;
}

.cajaTexto {
    background-color:#D8B6A4;
    display:inline-block;
    margin: 1em;
    border-radius: 25px;
}

.cajaTexto > .cajaTexto__contenido{
    padding: 30px;
    display: inline-block;
}

.cajaTexto > .cajaTexto__contenido > span{
    left:30px;
    position:relative
}

.cajaTexto > .cajaTexto__contenidoDerecha{
    padding: 30px;
    display: inline-block;
}

.cajaTexto > .cajaTexto__contenido > img {
    float:left;
    border-radius: 25px;
    width: 514px;
    height: 440px;
}



.cajaTexto > .cajaTexto__contenidoDerecha > .derecha {
    float:right;
    border-radius: 25px;
    width: 514px;
    height: 440px;
}



/*FOOTER*/

footer {
    background-color: black;
    color: white;