/*FUENTES*/

@font-face {
    font-family: Needlework Perfect;
    src: url(Needlework-Perfect.otf);
}

@font-face {
    font-family: Sansation Regular;
    src: url(Sansation_Regular.ttf);
}

p{
    font-family: Sansation Regular;
}


/*ICONO DE WHATSAPP*/

.whatsappFlotante{
    position: fixed;
    bottom: 0;
    right: 0;
    margin:30px
}

.whatsappFlotante > .whatsappFlotante__icono{
    width: 60px;
    height: 60px;
}

/*HEADER*/

nav{
    color:white;
    display: grid;
    grid-template-areas: 
    "logo vacio categorias";
}

/*CATEGORIAS*/

ul{
    display: inline-flex;
    justify-content: center;
    grid-area: categorias;
}

li{
    display:inline-flex;
    padding: 30px;
}

li > a{
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: white;
}


/*LOGO*/

.logo{
    float: left;
}

.logo > p{
    color:#FFFFFF;
    display:inline-block;
    font-size: 32px;
    width: 198.24px;
    font-family: Needlework Perfect;
    padding-left: 1rem;
}

.logo > img{
    width: 79.5px;
    height: 77px;

}

/*PORTADA*/

.portada{
    text-align: center;
    font-family: Needlework Perfect;
}

.portada > img{
    width: 100%;
}



.portada__pedir{
    text-decoration: none;
    background-color: black;
    color: white;
    display: inline-block;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    position:absolute;
    border-radius: 25px;
    font-size: 30px;
    padding: 10px;
}
/*BODY*/

body{
    background-color:#630000;
    margin: 0;
    padding: 0;
}

section{
    text-align: center;
    width: 100%;
}

/*CAJAS DE TEXTO*/

h3{
    font-family: Needlework Perfect;
    color: black;
    font-size: 48px;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}


.cajaTexto {
    background-color:#D8B6A4;
    border-radius: 25px;
    width: 95%;
    margin: 2rem;
    font-size: 25px;
    display: flex;
    align-items:center;
}

.cajaTexto__texto{
    text-align: left;
}

.cajaTexto__textoDerecha{
    text-align: left;
    margin-left: 1rem;
}

.responsiveimg{
    height: auto;
    border-radius: 25px;
    margin: 1rem;
    max-width: 514px;
    width: 50%;
}
/*GALERIA*/

.cajaGaleria {
    background-color:#D8B6A4;
    border-radius: 25px;
    width: 95%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.cajaGaleria__imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    margin: 3rem; 
}

.cajaGaleria__imagen {
    border: 5px solid;
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
}

.cajaGaleria__categorias{
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.cajaGaleria__categoria {
    background-color:#EEEBDD;
    border-radius: 25px;
    text-decoration: none;
}

.cajaGaleria__categoria p {
    font-family: Needlework Perfect;
    font-size: 36px;
    color: black;
}

.cajaGaleria__categoria img {
    background-color:#EEEBDD;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 0px;
    width: 250px;
    height: 200px;
}

/*FORMULARIO*/

.cajaTexto__input{
    width: 90%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #EEEBDD;
    box-sizing: border-box;
    font-size: 25px;
}

#mensaje{
    height: 5rem;
}

/*CAJA REDES*/

.cajaRedes{
    margin: 1rem;
    background-color:#D8B6A4;
    display:flex;
    flex-direction: column;
    border-radius: 25px;
    width: 95%;
}

.cajaRedes__redes{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}

.cajaRedes__red img{
    display:inline-block;
    width: 100px;
    height: 100px;
}

/*FOOTER*/

footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 2vh;
    font-weight: bold;
    font-size:18px
}