/*FUENTES*/

@font-face {
    font-family: Needlework Perfect;
    src: url(Needlework-Perfect.otf);
}


.whatsappFlotante{
    position: fixed;
    bottom: 0;
    right: 0;
    margin:30px;
    z-index: 100;
}

.whatsappFlotante > .whatsappFlotante__icono{
    width: 60px;
    height: 60px;
}

body{
    background-color:#630000;
}


#hamburguesa{
    width: 25px;
    height: 30px;
    display: flex;
    margin: 15px;
    display: none;
}

nav{
    background-color: black;
    padding: 1rem;
}

.navbar-brand{
    font-family: "Needlework Perfect";
    text-decoration: none;
    color: white;
    transition: 1s;
    font-size: 26px;
}

.navbar-brand:hover{
    color: gray;
}

.nav-link{
    color: white;
    transition: 0.3s;
    font-size: 20px;
}

.nav-link:hover{
    color: gray;
}

.dropdown-item{
    color: white;
}

.dropdown-menu{
    background-color: #D8B6A4;
}

#pedir{
    border-radius: 25px;
    font-size: 30px;
    padding: 10px;
    background-color: black;
    font-family: "Needlework Perfect";
}

@media (max-width: 896px) {
    .navbar-brand, .nav-link {
      display: none;
    }
    #hamburguesa{
        display: block;
    }
    #pedir{
        font-size: 25px;
        border-radius: 5px;
    }
  }


.card-deck{
    margin: 1em;
}

.card-group{
    margin: 1rem;
}

h2{
    color:white;
    margin: 1em;
    font-family: "Needlework Perfect";
    font-size: 50px;
}

.card{
    background-color:#D8B6A4;
}

#ubicacion{
    margin: 2rem;
}

form{
    background-color:#D8B6A4;
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
}

footer{
    background-color: black;
    padding: 2vh;
    color: white;
}

#red{
    padding: 1rem;
}

.carousel-inner{
    background-color: #D8B6A4;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.d-block{
    max-height: 500px;
    object-fit: contain;
}