body{
    background-color:#630000;
}

nav{
    background-color: black;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: gray;
}

.dropdown-item{
    color: white;
}

.dropdown-menu{
    background-color: #D8B6A4;
}

#pedir{
    border-radius: 25px;
    font-size: 30px;
    padding: 10px;
    background-color: black;
}

.card-deck{
    margin: 1em;
}

h2{
    color:black;
    margin: 1em;
}

.card{
    background-color:#D8B6A4;
}

form{
    background-color:#D8B6A4;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}